/*===============================================
================== VARIABLE =====================
=================================================*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400;500;700&display=swap");
/*========== Mixin and Functions ============*/
:root {
  --clr-red-50: rgb(242, 95, 58);
  --clr-red-30: hsl(12, 88%, 90%);
  --clr-red-10: hsl(13, 100%, 96%);
  --clr-blue-90: hsl(233, 12%, 13%);
  --clr-blue-70: hsl(228, 39%, 23%);
  --clr-blue-30: hsl(227, 12%, 61%);
  --clr-gray-30: hsl(0, 0%, 98%);
  --white: hsl(0 0% 100%);
  --ff-primary: "Be Vietnam Pro", sans-serif;
  --fw-light: 200;
  --fw-normal: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fs-body: 1rem;
  --gutter-l: clamp(1.25rem, 2.25vw, 2rem);
  --gutter-xl: clamp(1.875rem, 3vw, 2.625rem);
  --gutter-xxl: clamp(2.5rem, 5vw, 3.52rem);
}

/*===============================================
================ RESET CLASSES ==================
===============================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

a,
a:not([class]) {
  text-decoration: none;
}

a:focus {
  outline: 2px dotted var(--clr-red-50);
  outline-offset: 3px;
}

img,
picture {
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}

input {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ============ Scrollbar Styling ================ */
* {
  scrollbar-width: 16px;
  scrollbar-color: var(--clr-red-50) var(--clr-red-30);
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--clr-red-30);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-red-50);
  border-radius: 20px;
  border: 2px solid var(--clr-red-50);
}

/*===============================================
================ MAIN LAYOUT ====================
===============================================*/
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--clr-blue-90);
  background-color: white;
}

.bg-pattern {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.body-top {
  width: 60vw;
  top: -30vw;
  right: -20vw;
}

.body-bottom {
  width: 60vw;
  bottom: 50vw;
  left: -40vw;
}

/*================ Header Styling ================*/
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .navbar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}
.header .navbar-toggle-icon {
  display: block;
  width: 1.5rem;
  cursor: pointer;
}
.header .navbar-toggle-icon:where(:hover, :active) {
  outline: 2px dotted var(--clr-red-50);
  outline-offset: 4px;
}
.header .navbar-open-btn {
  display: none;
}
@media only screen and (max-width: 62.99em) {
  .header .navbar-open-btn {
    display: block;
  }
}
.header .navbar-close-btn {
  display: none;
}
@media only screen and (max-width: 62.99em) {
  .header .navbar-close-btn {
    display: block;
    margin-left: auto;
    margin-right: var(--gutter-xl);
  }
}
.header .navbar.active {
  transform: scale(1);
  width: 100%;
}
@media only screen and (max-width: 62.99em) {
  .header .navbar {
    background-color: var(--clr-gray-30);
    flex-direction: column;
    position: absolute;
    z-index: 99;
    top: calc(var(--gutter-xl) + 0.625rem);
    right: 0;
    top: 0;
    width: 0;
    margin-inline: auto;
    padding-block-start: var(--gutter-l);
    padding-block-end: var(--gutter-xxl);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transform: scale(0);
    transform-origin: top right;
    transition: all 250ms ease-in-out;
  }
}
.header .navbar .nav-list {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
@media only screen and (max-width: 62.99em) {
  .header .navbar .nav-list {
    margin-block-end: var(--gutter-xl);
    flex-direction: column;
  }
}
.header .navbar .nav-link {
  color: var(--clr-blue-30);
  transition: color 250ms ease;
}
.header .navbar .nav-link:where(:hover, :focus) {
  color: var(--clr-red-50);
  text-decoration: wavy;
}

.sprite-logo {
  width: 150px;
  height: 30px;
}

/*================ Main Styling ================*/
.main > * {
  margin-top: var(--gutter-xxl);
}

.article {
  margin-inline: 1.25rem;
  text-align: center;
  margin-block-end: var(--gutter-xl);
}
.article h1,
.article h2 {
  line-height: 1.2;
}
.article p {
  color: var(--clr-blue-30);
  line-height: 1.5;
  width: 100%;
  margin-block-start: var(--gutter-l);
}
@media only screen and (min-width: 44em) {
  .article {
    margin-inline: 0;
    text-align: left;
  }
  .article p {
    max-width: 60%;
  }
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--gutter-xl);
}
@media only screen and (min-width: 44em) {
  .hero {
    flex-direction: row;
  }
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 44em) {
  .hero-content {
    align-items: flex-start;
  }
}
.hero-content h1 {
  font-size: clamp(2.25rem, 3.33vw, 3rem);
}
.hero-image {
  width: 100%;
}

.focused {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gutter-l);
}
@media only screen and (min-width: 44em) {
  .focused {
    flex-direction: row;
  }
}
.focused > * {
  flex: 1;
}
.focused h2 {
  font-size: clamp(1.625rem, 2.638vw, 2.375rem);
}
.focused .point-list > * + * {
  margin-top: var(--gutter-xl);
}
.focused .point-list-items {
  position: relative;
}
.focused .point-list-items .item-num {
  display: inline-block;
  background-color: var(--clr-red-50);
  font-weight: var(--fw-bold);
  color: var(--white);
  padding-inline: 1.25rem;
  border-radius: 100vw;
  margin-inline-end: 0.625rem;
}
.focused .point-list-items h3 {
  width: 100vw;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: clamp(0.9375rem, 1.25vw, 1.125rem);
  line-height: 2;
  margin-bottom: 0.9375rem;
  background-color: var(--clr-red-30);
  border-radius: 100vw;
}
@media only screen and (min-width: 44em) {
  .focused .point-list-items h3 {
    width: auto;
  }
}
.focused .point-list-items p {
  color: var(--clr-blue-30);
  line-height: 1.8;
  font-size: clamp(0.875rem, 1.11vw, 16px);
}
@media only screen and (min-width: 44em) {
  .focused .point-list-items {
    padding-left: 6rem;
  }
  .focused .point-list-items .item-num {
    position: absolute;
    left: 0;
    top: 0;
  }
  .focused .point-list-items h3 {
    background-color: transparent;
    width: auto;
  }
}

.wrapper-fluid > * {
  margin-top: var(--gutter-xxl);
}

.carousel {
  text-align: center;
}
.carousel > h2 {
  font-size: clamp(1.625rem, 2.638vw, 2.375rem);
}
.carousel-items {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min(90%, 23.4375rem);
  grid-auto-rows: 1fr;
  margin-block-start: var(--gutter-l);
  margin-block-end: var(--gutter-xl);
  overflow-x: scroll;
}
.carousel-item {
  width: min(90%, 23.4375rem);
  margin-inline: auto;
}
.carousel-item .profile-img {
  width: 4rem;
  position: relative;
  top: 2rem;
  margin-inline: auto;
}
.carousel-content {
  background-color: var(--clr-gray-30);
  padding: var(--gutter-xl);
  padding-top: var(--gutter-xxl);
}
.carousel-content .name {
  margin-block-end: 0.9375rem;
}
.carousel-content .comment {
  line-height: 1.5;
  text-align: center;
}

.simplify {
  width: 100%;
  background-color: var(--clr-red-50);
  position: relative;
  overflow-y: hidden;
}
.simplify .bg-pattern {
  z-index: 0;
  width: 83.5vw;
  bottom: 0;
}
.simplify .content {
  width: clamp(19.0625rem, 77.78vw, 70rem);
  margin-inline: auto;
  padding-block: 4.375rem;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-xl);
}
.simplify .content h2 {
  max-width: 36.25rem;
  font-size: clamp(2.25rem, 3.33vw, 3rem);
  text-align: center;
  line-height: 1.5;
}
@media only screen and (min-width: 44em) {
  .simplify .content {
    flex-direction: row;
  }
  .simplify .content h2 {
    text-align: left;
  }
}

/*================ Footer Styling ================*/
.footer {
  margin-inline: auto;
  width: clamp(19.0625rem, 77.78vw, 90rem);
  padding-block: 2.5rem;
  text-align: center;
  display: grid;
  place-content: center;
  gap: var(--gutter-xxl);
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "search" "navbar" "social" "credit";
}
.footer-wraper {
  background-color: var(--clr-blue-90);
  color: var(--clr-blue-30);
}
@media only screen and (min-width: 44em) {
  .footer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas: "social navbar search" "social navbar credit";
  }
}
.footer .social {
  grid-area: social;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: var(--gutter-xxl);
}
@media only screen and (min-width: 44em) {
  .footer .social {
    flex-direction: column;
  }
}
.footer .social .logo {
  height: 1.875rem;
}
.footer .social .logo a {
  display: inline-block;
}
.footer .social-icons {
  display: inline-flex;
  gap: var(--gutter-xl);
  justify-content: center;
}
@media only screen and (min-width: 44em) {
  .footer .social-icons {
    gap: 1rem;
  }
}
.footer .social-icon {
  width: 2rem;
  height: 2rem;
  transition: filter 250ms ease;
}
.footer .social-icon:where(:hover, :focus) {
  filter: brightness(0) saturate(100%) invert(63%) sepia(41%) saturate(7481%)
    hue-rotate(338deg) brightness(97%) contrast(95%);
}
.footer-nav {
  grid-area: navbar;
}
.footer .navbar {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
}
.footer .navbar .nav-link {
  display: inline-block;
  color: var(--clr-blue-30);
  padding-block: 0.5rem;
}
.footer .navbar .nav-link:where(:hover, :focus) {
  color: var(--clr-red-50);
}
.footer-search {
  grid-area: search;
}
.footer-search .input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.footer-search .input-group input {
  padding: 0.75rem 1rem;
  border-radius: 100vw;
  border: none;
  outline: none;
}
.footer-credit {
  grid-area: credit;
}

/*===============================================
================ UTILITY CLASSES ================
=================================================*/
.txt-white {
  color: hsl(0deg, 0%, 100%);
}

.bg-white {
  background-color: hsl(0deg, 0%, 100%);
}

.txt-black {
  color: hsl(0deg, 0%, 0%);
}

.txt-red-30 {
  color: var(--clr-red-30);
}

.bg-red-30 {
  background-color: var(--clr-red-30);
}

.txt-red-50 {
  color: var(--clr-red-50);
}

.bg-red-50 {
  background-color: var(--clr-red-50);
}

.txt-blue-30 {
  color: var(--clr-blue-30);
}

.bg-blue-30 {
  background-color: var(--clr-blue-30);
}

.txt-blue-70 {
  color: var(--clr-blue-70);
}

.bg-blue-70 {
  background-color: var(--clr-blue-70);
}

.txt-blue-90 {
  color: var(--clr-blue-90);
}

.bg-blue-90 {
  background-color: var(--clr-blue-90);
}

.fw-l {
  font-weight: var(--fw-light);
}

.fw-n {
  font-weight: var(--fw-normal);
}

.fw-sb {
  font-weight: var(--fw-semi-bold);
}

.fw-b {
  font-weight: var(--fw-bold);
}

[tabindex]:focus {
  outline: 2px dotted var(--clr-red-50);
  outline-offset: 6px;
}

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  display: none;
}
.backdrop.active {
  display: block;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  place-content: center;
  gap: var(--gap, 1rem);
}

.wrapper {
  width: 90%;
  max-width: 70rem;
  margin-inline: auto;
}
.wrapper-fluid {
  width: 100%;
  max-width: 90rem;
  margin-inline: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.svgSprite {
  width: 0;
  height: 0;
  display: none;
}

svg[class="img"] {
  width: 100%;
  display: block;
}

.icon {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.root {
  width: 100%;
  padding-block-start: var(--gutter-xl);
  position: relative;
  overflow: hidden;
}

.btn,
.btn-inverted {
  color: var(--white);
}
.btn .btn-link,
.btn-inverted .btn-link {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--clr-red-50);
  appearance: none;
  color: currentColor;
  border-radius: 1.25rem;
  border: none;
  outline: none;
}
.btn .btn-link:where(:hover, :focus),
.btn-inverted .btn-link:where(:hover, :focus) {
  opacity: 0.8;
}

.btn-inverted {
  color: var(--clr-red-50);
}
.btn-inverted .btn-link {
  background-color: var(--white);
}

.slider {
  display: flex;
}

.slider > * {
  width: 100%;
  flex: 0 0 auto;
}
/*# sourceMappingURL=style.css.map */
